* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #222;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  font-family: sans-serif;
  color: #a08c95;
  width: auto;

  h1 {
    color: #a08c95;
    font-size: 2rem;
    align-self: start;
    background: #222;
    width: 100%;
    padding: 1rem;
  }

  h2 {
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: orange;
  }

  a {
    color: rgb(228, 228, 133);
  }

  iframe {
    margin-bottom: 2rem;
  }

  nav {
    background-color: #222;
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    a {
      color: #aaa;
      text-decoration: none;
      margin-right: 1rem;
      font-size: 1.4rem;
      font-weight: lighter;

    }

    a.active {
      color: #725258;
    }
  }
  p {
    font-size: 1.5rem;
    margin-bottom: .5rem;
  }
}
